<% if resource.errors.any? %>
  <div id="error-explanation">
    <h4 class="failed-registration">
      <%= I18n.t("errors.messages.not_saved")%>
    </h4>
    <ul class="error-messages">
      <% resource.errors.full_messages.each do |message| %>
        <li class="error-message"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
