.field {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.search_field {
  padding-bottom: 0.5rem 0;
  margin-bottom: 0.5rem;
}

label {
  font-weight: bold;
  background-color: rgb(215, 229, 245);
}

.actions {
  padding: 1rem 0;
}

.sign_in {
  width: 30rem;
  margin: auto;
}